<form class="form-signin col-md-6 col-md-offset-3 well" name="login_form" novalidate>
  <h2 class="form-signin-heading">Please login</h2>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="form-group" show-errors>
    <input type="text" class="form-control input-lg" name="username" placeholder="Email Address"  autofocus="" ng-model="username" required/>
  </div>
  <div class="form-group" show-errors>
    <input type="password" class="form-control input-lg" name="password" placeholder="Password" ng-model="password" required/>
  </div>
  <!-- <label class="checkbox">
    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
  </label> -->
  <div class="form-actions">
    <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="login()">Login</button>
  </div>
</form>
