<div class="col-sm-12">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <h2>Schools</h2>
  <div class="tool-bar">
    <button class="btn btn-primary btn-labeled btn-sm" ng-click="addSchool()">
      <span class="btn-label glyphicon glyphicon-plus"></span>
      Add School
    </button>
  </div>
  <br /><br /><br />
</div>
<div class="col-sm-12">
  <div class="table-header clearfix">
    <form class="form-inline pull-left" role="form">
      <div class="form-group">
        <label for="">Filter</label>
        <input type="text" class="form-control input-sm" placeholder="School Name" ng-model="schoolName">
      </div>
    </form>
  </div>
  <div class="gridStyle school-grid" ui-grid="gridOptions" ui-grid-pagination></div>
  <div class="gridStyleMessage" ng-if="emptyCourseSections">{{emptyCourseSections}}</div>
</div>
