<div class="col-sm-12">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <h1>{{school.name}}</h1>
  <h2 style="float:left">Course Section - </h2>
  <ui-select ng-model="courseSection" theme="bootstrap" on-select="courseSectionSwitcher($item, $model)">
    <ui-select-match placeholder="Select or search a course section in the list...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="courseSection in courseSections | filter: $select.search">
      <span ng-bind-html="courseSection.name | highlight: $select.search"></span>
    </ui-select-choices>
  </ui-select>

  <h4 class="clearfix" style="clear:both; line-height:1.5">
    <strong>Course Period</strong> : <span ng-if="courseSection.start">{{courseSection.start | date:"dd MMM yyyy"}} - {{courseSection.end | date:"dd MMM yyyy"}}</span><br />
    <strong>Instructor</strong> : <span>{{courseSection.teacher.name}}</span><br />
    <strong>Code</strong> : <span>{{courseSection.sectionCode}}</span>
  </h4>
  <div class="tool-bar">
    <button class="btn btn-primary btn-labeled btn-sm" ng-click="addTitle()">
      <span class="btn-label glyphicon glyphicon-plus"></span>
      Add Title
    </button>
    <button class="btn btn-primary btn-labeled btn-sm" ng-click="addStudentToCourseSection()">
      <span class="btn-label glyphicon glyphicon-plus"></span>
      Add Students
    </button>
    <button class="btn btn-primary btn-labeled btn-sm" ng-click="editSection()">
      <span class="btn-label glyphicon glyphicon-edit"></span>
      Edit Section Details
    </button>
  </div>
  <br /><br />
</div>
<div class="col-sm-12 product-grid">
  <div ng-if="!noCourseSectionProducts" class="gridStyle" ui-grid="productGridOptions" ui-grid-pagination></div>
  <div ng-if="noCourseSectionProducts" class="gridStyle gridStyleMessage">{{noCourseSectionProducts}}</div>
</div>
<div class="col-sm-12 top-space-20 user-grid">
  <div ng-if="!noCourseSectionStudents" class="gridStyle" ui-grid="gridOptions" ui-grid-pagination></div>
  <div ng-if="noCourseSectionStudents" class="gridStyle gridStyleMessage">{{noCourseSectionStudents}}</div>
</div>