<div class="col-sm-12">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <h1>{{school.name}}</h1>

  <div class="tool-bar">
    <button class="btn btn-primary btn-labeled btn-sm" ng-click="addAdmin()">
      <span class="btn-label glyphicon glyphicon-plus"></span>
      Add Admin
    </button>
  </div>
</div>

<div class="col-sm-12 admin-grid">
  <div ng-if="!noSchoolAdmins" class="gridStyle" ui-grid="adminGridOptions" ui-grid-pagination></div>
  <div ng-if="noSchoolAdmins" class="gridStyleMessage">{{noSchoolAdmins}}</div>
</div>

<div class="col-sm-12 top-space-20">
  <div class="tool-bar">
    <button class="btn btn-primary btn-labeled btn-sm" ng-click="addLicense()">
      <span class="btn-label glyphicon glyphicon-plus"></span>
      Add New License
    </button>
  </div>
</div>

<div class="col-sm-12 license-grid">
  <div ng-if="!noSchoolLicenses" class="gridStyle" ui-grid="licenseGridOptions" ui-grid-pagination></div>
  <div ng-if="noSchoolLicenses" class="gridStyleMessage">{{noSchoolLicenses}}</div>
</div>