<div ng-show="showFooter" class="ngFooterPanel" ng-style="footerStyle()">
  <ul class="pagination pagination-sm">
    <li ng-class="{ 'disabled' : cantPageBackward() }" ng-click="pageToFirst()" title="{{i18n.ngPagerFirstTitle}}">
      <a href class="glyphicon glyphicon-step-backward"></a>
    </li>
    <li ng-class="{ 'disabled' : cantPageBackward() }" ng-click="pageBackward()" title="{{i18n.ngPagerPrevTitle}}">
      <a href class="glyphicon glyphicon-play" style="transform: rotate(180deg);"></a>
    </li>
    <li class="details">
      <strong>{{(pagingOptions.currentPage - 1) * pagingOptions.pageSize + 1}} to {{(pagingOptions.currentPage - 1) * pagingOptions.pageSize + totalFilteredItemsLength()}} </strong>
      of {{maxRows()}} items
    </li>
    <li ng-class="{ 'disabled' : cantPageForward() }" ng-click="pageForward()" title="{{i18n.ngPagerNextTitle}}"><a href class="glyphicon glyphicon-play"></a></li>
    <li ng-class="{ 'disabled' : cantPageToLast() }" ng-click="pageToLast()" title="{{i18n.ngPagerLastTitle}}"><a href class="glyphicon glyphicon-step-forward"></a></li>
  </ul>
</div>