<div class="col-sm-12">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind-html="alert.msg"></span></alert>
  <h2>Admins</h2>
  <div class="tool-bar">
    <button class="btn btn-primary btn-labeled btn-sm" ng-click="addAdmin()">
      <span class="btn-label glyphicon glyphicon-plus"></span>
      Add New Admin
    </button>
  </div>
</div>
<div class="col-sm-12">
  <div class="table-header clearfix">
    <form class="form-inline pull-left" role="form">
      <div class="form-group">
        <label for="">Filter</label>
        <input type="text" class="form-control input-sm" placeholder="Admin Name" ng-model="adminName">
      </div>
    </form>
  </div>
  <div ng-if="!emptyAdmins" class="gridStyle user-grid" ui-grid="gridOptions" ui-grid-pagination></div>
  <div ng-if="emptyAdmins" class="gridStyleMessage">{{emptyAdmins}}</div>
</div>
